.wd-container {
    display: flex;
}

.wd-container > div {
    margin-right: 20px; 
    margin-top: 5px;
}

.wd-container > div:first-child {
    margin-top: 0;
}

.min-height-kanbas-navigation {
    min-height: 100%;
}

.wd-dashboard {
    margin-left: 80px;
}

.title{
    text-decoration: "none"; 
    color: "navy"; 
    font-weight: "bold"; 
    transition:"all 0.2s ease-out";
    padding: 0;
    margin: 0;
    line-height: 1.3;
    display: block;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}



